In [2]:
import numpy as np
import pandas as pd

x=pd.Series([1,2,3,4,5,5])
print(x)

0    1
1    2
2    3
3    4
4    5
5    5
dtype: int64

In [6]:
import numpy as np
import pandas as pd
import os



D={
    "Name":['Abi','Ashu'],
    'Age' : [7,11],
    'Gender' : ['Female','female']
}

df=pd.DataFrame(D)
print(df)

   Name  Age  Gender
0   Abi    7  Female
1  Ashu   11  female

In [8]:
df.to_csv("C:\\Users\\chandrig\\OneDrive - NetApp Inc\\Documents\\PythonFiles\\Python_Materials\\Oops_webscraping_pandas_Flask\\data1.csv")

In [21]:
import numpy as np
import pandas as pd
#import os


#print(os.getcwd())      # Check the current working directory
#print(os.listdir())     #List files in the directory

df1 = pd.read_csv('C:\\Users\\chandrig\\OneDrive - NetApp Inc\\Documents\\PythonFiles\\Python_Materials\\Oops_webscraping_pandas_Flask\\Gizo_EJ_Post_RTS_RRT_Test_Strategy.csv')
print(df1)

C:\Users\chandrig
['.anaconda', '.cisco', '.conda', '.condarc', '.continuum', '.idlerc', '.installer_lock_file', '.ipynb_checkpoints', '.ipython', '.jupyter', '.OpenIPC', '.python_history', '.tray', '.vscode', '1_Basic Exercise_Questions (1).ipynb', '3D Objects', 'amazon_refridgerator.csv', 'anaconda_projects', 'AppData', 'Application Data', 'Contacts', 'Cookies', 'Documents', 'Downloads', 'Favorites', 'IntelGraphicsProfiles', 'Links', 'Local Settings', 'mcafee dlp quarantined files', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{3c9eb1e5-fd05-11ef-96d3-eb30ca83db6a}.TM.blf', 'NTUSER.DAT{3c9eb1e5-fd05-11ef-96d3-eb30ca83db6a}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{3c9eb1e5-fd05-11ef-96d3-eb30ca83db6a}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'OneDrive - NetApp Inc', 'PrintHood', 'PythonSv', 'Recent', 'Saved Games', 'Searches', 'SendTo', 'Start Menu', 'Templates', 'Untitled.ipynb', 'untitled.md', 'untitled.py', 'untitled.txt', 'Untitled1.ipynb', 'untitled1.md', 'untitled1.py', 'Untitled2.ipynb', 'untitled2.md', 'Untitled3.ipynb', 'Untitled4.ipynb', 'Untitled5.ipynb', 'Untitled6.ipynb', 'Untitled7.ipynb', 'Untitled8.ipynb', 'Untitled9.ipynb', 'Videos']
   Gizo EJ Post RTS RRT pass-2:                                                                    Test run Status- June 20  \
0                                              SI. No
1                                                 NaN
2                                                   1
3                                                   2
4                                                   3
..                                                ...
87                                                  2
88                                                NaN
89                                                  3
90                                                  4
91                                                NaN

                  Unnamed: 1 Unnamed: 2           Unnamed: 3  \
0                      Filer      Model         Type of Task
1                        NaN        NaN                  NaN
2     AFF-A30-NBC-P2-5-36-37    AFF-A30               Stress
3   AFF-A20-NBC-P2-5-161-162    AFF-A20               Stress
4     AFF-A30-NBC-P2-5-56-57    ASA-A30  Steady-state Stress
..                       ...        ...                  ...
87  AFF-A20-NBC-P2-5-161-162    AFF-A20               Stress
88                       NaN        NaN                  NaN
89    AFF-A30-NBC-P2-5-56-57    ASA-A30  Steady-state Stress
90    FAS50-NBC-P2-5-191-192      FAS50               Stress
91                       NaN        NaN                  NaN

                                    Unnamed: 4 Unnamed: 5  \
0                                          TC      Status
1                                          NaN        NaN
2    TC-57507 :  PVT_Stress_System_Power_Cycle    Running
3         TC-57504 PVT_STRESS_HA_SFO_On_Reboot    Running
4                    TC-57450 PLAT_STRS_stress    Running
..                                         ...        ...
87        TC-57504 PVT_STRESS_HA_SFO_On_Reboot  completed
88                                         NaN        NaN
89                   TC-57450 PLAT_STRS_stress    Running
90    TC-57508: PVT_Stress_System_Power_OFF_ON  Completed
91                                         NaN        NaN

                                           Unnamed: 6  \
0                                            Log path
1                                                 NaN
2   /x/eng/natelogs/PLTE/FAS_AFF/NPI/Gizo/Gizo_CSE...
3   /x/eng/natelogs/PLTE/FAS_AFF/NPI/Gizo/Gizo_CSE...
4   /x/eng/natelogs/PLTE/FAS_AFF/NPI/Gizo/Gizo_CSE...
..                                                ...
87  /x/eng/natelogs/PLTE/FAS_AFF/NPI/Gizo/Gizo_CSE...
88  /x/eng/natelogs/PLTE/FAS_AFF/NPI/Gizo/Gizo_CSE...
89  /x/eng/natelogs/PLTE/FAS_AFF/NPI/Gizo/Gizo_CSE...
90  /x/eng/natelogs/PLTE/FAS_AFF/NPI/Gizo/Gizo_CSE...
91                                                NaN

                           Unnamed: 7              Unnamed: 8  \
0   Tracking details/No of iterations                     NaN
1                             8:00 AM                11:00 AM
2                              63 itr                  76 itr
3                              48 itr                  58 itr
4                   uptime  08:00:30       uptime   10:48:26
..                                ...                     ...
87                          Completed                     NaN
88                                NaN                     NaN
89            uptime     8 days 08:22  uptime    8 days 20:51
90                          Completed                     NaN
91                                NaN                     NaN

                 Unnamed: 9        Unnamed: 10  \
0                       NaN                NaN
1                   3:15 PM            7:45 PM
2                    94 itr            113 itr
3                    73 itr             89 itr
4          uptime  15:07:23   uptime  19:36:18
..                      ...                ...
87                      NaN                NaN
88                      NaN                NaN
89  uptime     7 days 14:05                NaN
90                      NaN                NaN
91                      NaN                NaN

                                          Unnamed: 11
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
..                                                ...
87  logparser2.0/chandrig@netapp.com_20250624_1504...
88  logparser2.0/chandrig@netapp.com_20250626_0953...
89                                                NaN
90  logparser2.0/chandrig@netapp.com_20250626_1824...
91                                                NaN

[92 rows x 12 columns]

In [24]:
import numpy as np
import pandas as pd

df2 = pd.read_csv('C:\\Users\\chandrig\\OneDrive - NetApp Inc\\Documents\\PythonFiles\\Python_Materials\\Oops_webscraping_pandas_Flask\\titanic.csv')
print(df2)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [25]:
print(df2.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [29]:
print(df2.tail())

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [30]:
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [31]:
print(df2["Name"])# search

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [33]:
print(df2[df2["Age"]>45]) # filter

     PassengerId  Survived  Pclass  \
6              7         0       1
11            12         1       1
15            16         1       2
33            34         0       2
52            53         1       1
..           ...       ...     ...
857          858         1       1
862          863         1       1
871          872         1       1
873          874         0       3
879          880         1       1

                                                  Name     Sex   Age  SibSp  \
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
33                               Wheadon, Mr. Edward H    male  66.0      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
..                                                 ...     ...   ...    ...
857                             Daly, Mr. Peter Denis     male  51.0      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch      Ticket     Fare Cabin Embarked
6        0       17463  51.8625   E46        S
11       0      113783  26.5500  C103        S
15       0      248706  16.0000   NaN        S
33       0  C.A. 24579  10.5000   NaN        S
52       0    PC 17572  76.7292   D33        C
..     ...         ...      ...   ...      ...
857      0      113055  26.5500   E17        S
862      0       17466  25.9292   D17        S
871      1       11751  52.5542   D35        S
873      0      345765   9.0000   NaN        S
879      1       11767  83.1583   C50        C

[103 rows x 12 columns]

In [34]:
print(df2.sort_values("Age"))

     PassengerId  Survived  Pclass                                      Name  \
803          804         1       3           Thomas, Master. Assad Alexander
755          756         1       2                 Hamalainen, Master. Viljo
644          645         1       3                    Baclini, Miss. Eugenie
469          470         1       3             Baclini, Miss. Helene Barbara
78            79         1       2             Caldwell, Master. Alden Gates
..           ...       ...     ...                                       ...
859          860         0       3                          Razi, Mr. Raihed
863          864         0       3         Sage, Miss. Dorothy Edith "Dolly"
868          869         0       3               van Melkebeke, Mr. Philemon
878          879         0       3                        Laleff, Mr. Kristo
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
803    male  0.42      0      1        2625   8.5167   NaN        C
755    male  0.67      1      1      250649  14.5000   NaN        S
644  female  0.75      2      1        2666  19.2583   NaN        C
469  female  0.75      2      1        2666  19.2583   NaN        C
78     male  0.83      0      2      248738  29.0000   NaN        S
..      ...   ...    ...    ...         ...      ...   ...      ...
859    male   NaN      0      0        2629   7.2292   NaN        C
863  female   NaN      8      2    CA. 2343  69.5500   NaN        S
868    male   NaN      0      0      345777   9.5000   NaN        S
878    male   NaN      0      0      349217   7.8958   NaN        S
888  female   NaN      1      2  W./C. 6607  23.4500   NaN        S

[891 rows x 12 columns]

In [35]:
print(df2.groupby("Survived").sum())

          PassengerId  Pclass  \
Survived
0              245412    1390
1              151974     667

                                                       Name  \
Survived
0         Braund, Mr. Owen HarrisAllen, Mr. William Henr...
1         Cumings, Mrs. John Bradley (Florence Briggs Th...

                                                        Sex       Age  SibSp  \
Survived
0         malemalemalemalemalemalemalefemalemalefemalema...  12985.50    304
1         femalefemalefemalefemalefemalefemalefemalefema...   8219.67    162

          Parch                                             Ticket  \
Survived
0           181  A/5 2117137345033087717463349909A/5. 215134708...
1           159  PC 17599STON/O2. 3101282113803347742237736PP 9...

                Fare                                              Cabin  \
Survived
0         12142.7199  E46C23 C25 C27B30C83F G73E31A5D26C110B58 B60D2...
1         16551.2294  C85C123G6C103D56A6B78D33C52B28F33C23 C25 C27D1...

                                                   Embarked
Survived
0         SSQSSSSSQSSSCSSCSCSSSSSCSQCSSSCCSCSSCSSSSSCSSS...
1         CSSSCSSSSCSQSSQCQCCCQQCSSSSCSSSSSSQSSSCSSSQSCS...